table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

#main-jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("img/coffee1.jpg");
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
}

@media screen and (min-width:768px) {

}