#main-jumbotron {
    background-color: gray;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("img/coffee1.jpg");
    background-size: cover;
    background-position: center;
    height: 20vh;
    color: white;
    margin: auto;
}

#main-container {
    background-color: black;
}

#coffee-overflow {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("img/coffeebeans.jpg");
    height: 100vh;
}

body {
    background-color: gray;
    height: 100vh;
    margin: auto;
}

#coffee-card {
    width: 300px;
    /*height: 20em;*/
    /*overflow: scroll;*/
}